template(name="home")
  .container-fluid
    .row
      .col-md-12
        .jumbotron.home-header
          .h1 HelloMeteor
          .small The most remote and depraved chatroom on the internets

    .row
      .col-md-2
        +members
      .col-md-10
        +messages
